@import '../../styles/styleVariables.scss';

.ProjectsContainer {
    padding: $defaultPaddingAmount;
}

.ProjectScrollGrid {
    overflow-y: scroll;
    height: calc(100% - 46px - #{$topBarHeight});
    border: 1px solid $grey;
    flex-flow: wrap;
    padding: $defaultPaddingAmount;
}
