@import '../../styles/styleVariables.scss';

.ProjectsContainer {
    padding: $defaultPaddingAmount;
}

.ProjectScrollGrid {
    overflow: scroll;
    height: calc(100% - 46px - #{$topBarHeight});
    border: 1px solid black;
    flex-flow: wrap;
}
