@import './styleVariables.scss';
@import './animations.scss';

@font-face {
    font-family: 'AnimeAce';
    src: local('AnimeAce'), url(./animeace2_reg.ttf) format('truetype');
}

@font-face {
    font-family: 'HackRegular';
    src: local('HackRegular'), url(./Hack-Regular.ttf) format('truetype');
}

.Fullscreen {
    height: 100vh;
    width: 100vw;
}

.FullContainer {
    height: 100%;
    width: 100%;
}

.FlexCol {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.FlexColumn {
    display: flex;
    flex-direction: column;
}

.FlexGrid {
    display: flex;
}

.FullHeight {
    height: 100%;
}

.FullWidth {
    width: 100%;
}

.FlexHCentered {
    display: flex;
    justify-content: center;
}

.FlexGrow {
    flex-grow: 1;
}

.FlexCentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ScrollContainer {
    scroll-snap-type: both mandatory;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    min-width: 350px;
    transition: background-color 1s ease;
}

.DefaultBordered {
    border: $defaultBorderSize black solid;
}

.DefaultPadded {
    padding: $defaultPaddingAmount;
}
