// dimensions
$topBarHeight: 64px;
$defaultPaddingAmount: 8px;
$defaultBorderSize: 4px;

// break points
$largeBreakpoint: 975px;

// colors
$grey: #9e9e9e9e;
$white: #fff;
$pop-green: #3bb44b;
$pop-red: #ed372c;
$pop-orange: #ff912d;
$pop-pink: #da1c5c;
$pop-yellow: #fff400;
$pop-purple: #2e3192;
$pop-blue: #27aae2;
