@import '../../styles/styleVariables.scss';

.AboutMeSectionContainer {
    min-height: 100vh;
}

.AboutMeSectionText {
    background-color: black;
    color: white;
    border: $defaultBorderSize white solid;
    font-family: 'HackRegular';
}

.WhoAmIHeader {
    background-color: $pop-red;
    font-family: 'AnimeAce';
    width: 115px;
    margin-bottom: $defaultPaddingAmount;
}

.MainAboutMeContainer {
    width: 90%;
    max-width: $largeBreakpoint;
}

.AboutMeP {
    margin-bottom: $defaultPaddingAmount;
    display: block;
}
