@import '../../styles/styleVariables.scss';

.AboutMeSectionContainer {
    background-color: #27aae2;
    min-height: 100vh;
}

.AboutMeSectionText {
    background-color: black;
    color: white;
    border: $defaultBorderSize white solid;
}

.WhoAmIHeader {
    background-color: $pop-red;
    font-family: 'AnimeAce';
    width: 115px;
    margin-bottom: $defaultPaddingAmount;
}

.MainAboutMeContainer {
    width: 50%;
    max-width: $largeBreakpoint;
}

@media (max-width: $largeBreakpoint) {
    .MainAboutMeContainer {
        max-width: 75%;
    }
}
